{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Swagger UI</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'swagger-ui/dist/swagger-ui.css' %}"
    />
  </head>
  <body>
    <div id="swagger-ui"></div>

    <script src="{% static 'swagger-ui/dist/swagger-ui-bundle.js' %}"></script>
    <script>
      window.onload = function () {
        const ui = SwaggerUIBundle({
          url: "{% url 'swagger_json' %}",
          dom_id: "#swagger-ui",
          presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIBundle.SwaggerUIStandalonePreset,
          ],
          layout: "BaseLayout",
        });
      };
    </script>
  </body>
</html>
